<div class="wrapper">


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Student ID</th>
    <th>Course ID</th>
  </tr>
  <% @enrollments.each do |r| %>
    <tr>
      <td><%= r.student_id %></td>
      <td><%= r.course_id %></td>
    </tr>
  <% end %>
  </thead>
</table>

</div>
