/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";

body {
    padding-top: 70px;
}
.wrapper {

  padding-left: 30px;
}

// sidebar //


.sidebar-wrapper {
  min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: 100%;
  background-color: rgb(102, 137, 152);
  padding-left: 20px;
  margin-top: -20px;

}

.row {
  display: flex;
  align-items: stretch;
}

.card {
  width: 20rem;
  display: inline-block;
  margin: 10px;
}

.sidebar-wrapper.active {
  margin-left: -250px
}



 .sidebar-nav {
  padding: 20%;
  list-style: none;
 }

 .sidebar-nav li {
   // text-indent: 20px;
   line-height: 40px;
 }

 .sidebar-nav li a {
   // padding-left: 10px;
   color: rgb(219, 214, 201)
 }

 .logged-in {
   font-size: .7em;
   font-style: italic;
 }



 // main content //

 .wrapper {
   padding: 20px;
 }


 //tables //


table {
  // border-collapse: collapse;
  margin: 50px;
  // table-layout: fixed;
  width: 100%;
}

// .add-border {
//   border-right: 3px solid black;
// }


// form //
.new-form-link {
  display: inline-block;
}

// alert //
.alert {
  // position: fixed;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #468847;
   text-align: left;
   width: 800px;
   height: 30px;
}
