<div class="wrapper sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-item"><%= link_to "Home", "#" %></li>
    <li class="sidebar-item"><%= link_to "Admin Panel", "#" %></li>
    <li class="sidebar-item"><%= link_to "Assignments", "#" %></li>
  </ul>
</div>
