<div class="sidebar-wrapper">

  <ul class="sidebar-nav">
    <li class="sidebar-item"><%= link_to "Home", root_path %></li>
    <li class="sidebar-item"><%= link_to "All Courses", "courses_path" %></li>
    <li class="sidebar-item"><%= link_to "Assignments", "#" %></li>
  </ul>
</div>
